*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#050505;
    color:#fff;
    display:flex;
    justify-content:center;
    padding:10px;
}

.app-container{
    width:100%;
    max-width:480px;
    min-height:100vh;
    background:#0d0d0d;
    border:2px solid #ba0f14;
    border-radius:16px;
    overflow:hidden;
    padding-bottom:40px;
}

.page{
    display:none;
    padding:20px;
}

.page.active{
    display:block;
}

.brand-header{
    text-align:center;
    margin-bottom:20px;
}

.logo-oficial{
    width:140px;
}

h2{
    margin-bottom:10px;
    text-transform:uppercase;
}

.subtitle{
    color:#999;
}

.form-group{
    margin-bottom:16px;
}

.form-group label{
    display:block;
    margin-bottom:6px;
    font-size:12px;
    color:#999;
}

input,
select{
    width:100%;
    padding:14px;
    background:#151515;
    border:1px solid #333;
    border-radius:8px;
    color:#fff;
}

.btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
    margin-top:10px;
}

.btn-primary{
    background:#ba0f14;
    color:#fff;
}

.btn-accent{
    background:#1f1f1f;
    color:#fff;
}

.grid-menu{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:12px;
}

.card-premium{
    background:#151515;
    border:1px solid #222;
    border-radius:12px;
    padding:18px;
    cursor:pointer;
}

.card-icon{
    font-size:26px;
    margin-bottom:10px;
}

.card-title{
    font-weight:900;
    margin-bottom:4px;
}

.card-subtext{
    font-size:12px;
    color:#999;
}

.dashboard-grid-top{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
    margin-bottom:16px;
}

.dashboard-card{
    background:#151515;
    border-radius:10px;
    padding:14px;
    text-align:center;
}

.dashboard-card span{
    display:block;
    font-size:10px;
    color:#999;
    margin-bottom:6px;
}

.dashboard-card strong{
    font-size:18px;
}

.success-card strong{
    color:#4ade80;
}

.danger-card strong{
    color:#ef4444;
}

.dashboard-chart-card{
    background:#151515;
    padding:16px;
    border-radius:12px;
    margin-bottom:16px;
}

.finance-bar-bg{
    width:100%;
    height:16px;
    background:#333;
    border-radius:30px;
    overflow:hidden;
}

.finance-bar-fill{
    height:100%;
}

.finance-green{
    background:#16a34a;
    width:75%;
}

.finance-red{
    background:#ba0f14;
    width:25%;
}

.presenca-semanal-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
}

.presenca-box{
    background:#101010;
    border-radius:10px;
    text-align:center;
    padding:12px;
}

.presenca-box span{
    display:block;
    font-size:10px;
    color:#999;
}

.presenca-box strong{
    font-size:20px;
}

.list-container{
    background:#151515;
    border-radius:10px;
    padding:10px;
}

.mural-card{
    background:#151515;
    border-radius:10px;
    padding:12px;
    margin-bottom:10px;
}
